body {
    width: 600px;
}

// $color: (green,red) ,$border solid groove 
$x:0;
@each $color,
$font in (gray, 28px bold),
(blue, 16px bold),
{
    $x: $x+1;
    .text#{$x} {
        color: $color;
        font: $font;
    }
}